*.user
*.orig
*.exe
*.log
*.sdf
*.pdb
*.pch
*.obj
*.lib
*.lastbuildstate
*.ipch
*.suo
*.exp
*.ilk

*.opensdf

proj/**/*.cache
*.idb
**/obj/*
**/~AutoRecover*
bin/**/*
sln/*.db
sln/*.opendb
*.lastcodeanalysissucceeded
sln/.vs/
Thumbs.db
